@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --huge: 6.5rem;
  --x-large: 4rem;
  --large: 2.5rem;
  --medium: 2rem;
  --small: 1.5rem;
  --x-small: 1.1rem;
  --tiny: 0.9rem;
}

*{
    padding:0;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    /* width: 100%; */
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 24px;
    background-color: #1F1F1F;
    
}

a{
    text-decoration: none;
    color:white;
}

p{
    color:white;
}
h1{
    color:white;
}
h2{
    color:white;
}
/* HEADER ---------------- */
header{
    margin-top: 2em;
    display: flex;
    background-color: #1F1F1F;
    justify-content: space-evenly;
    width: 100%;
}

header #header-dylan{
    
    font-size: 18px;
    font-weight: 600;
    color: #ffdb70;
}


header div#header-milieu a{
    position: relative;
    margin-left: 32px;

}

header div#header-milieu a::after{
    content: "";
    position: absolute;
    background-color: #fde68a;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

header div#header-milieu a:hover:after{
    width: 100%;
}
header div#header-milieu a:hover{
    opacity: 0.7;
}
header img{
    margin-top: 0;
    height: 3em;
    width: 50px;
}
/* Fin HEADER ---------------- */

/* Nav --------------------- */
nav#nav-index{
    display:flex;
    background-color: #1F1F1F;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 90vh;
    
    
}

nav#nav-index div#nav-texte{
    text-align: left;
    margin-top: 7em;
    margin-right: 3em;
}

nav#nav-index img{
    width: 420px;
    height: 420px;
    border-radius: 999px;
    box-shadow: 0px 0px 73px -9px rgba(255, 219, 112, 0.44);
    border: solid #ffdb68;
}
nav#nav-index div p{
    height: 3em;
}
nav#nav-index div p#nav-hello{
    color: #fde68a;
}

nav#nav-index #nav-dylan{
    font-size: 48px;
    height: 1em;
/* Dynamic text */
}
nav#nav-index ul.dynamic-txt{
    height: 3em;
    overflow: hidden;
}
nav#nav-index ul li{
    list-style: none;
    position: relative;
    font-size: 24px;
    top:0;
    animation: slide 36s steps(4) infinite;
    
}
@keyframes slide{
    100%{
        top:-328px;
    }
}
nav#nav-index h2{
    position:relative;
    margin: 5px 0;
    background-image: linear-gradient(90deg, rgba(255,254,248,1) 3%, rgba(255,255,255,1) 35%, rgba(253,230,138,1) 53%, rgba(252,228,134,1) 61%, rgba(215,171,37,1) 100%);    background-clip: text;
    color: transparent;
    margin-top: 10px;
    font-size: 24px;
    height: 3em;
}

nav#nav-index h2::after{
    content:"";
    position: absolute;
    left: 0;
    top:0;
    height: 170%;
    width: 100%;
    background-color: #1F1F1F;
    border-left: 2px solid #FC6D6D;
    /* animation: typing 4s steps(44) infinite; */
    animation: typing 9s steps(65) infinite;
}
@keyframes typing {
    40%, 60%{
        left: calc(100%);
    }
    100%{
        left:0;
    }
}


/* Wave animation */

nav .wave {
    animation-name: wave-animation; 
    animation-duration: 2.5s;       
    animation-iteration-count: infinite;  
    transform-origin: 70% 70%;      
    display: inline-block;
  }
  
  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(14.0deg) }  
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }  
    100% { transform: rotate( 0.0deg) }
  }
  
  
  
/* Fin Nav --------------------- */

/* Main --------------------- */
main.home-main{
    display: flex;
    align-items: center;
    background-color: #1F1F1F;
    flex-direction: column;
}

main.home-main .about{
    margin: 5em 0;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 4px 12px #050505;
    width: 90%;
    height: 520px;
    /* height: 5%;       */
    border-radius: 60px;
}
main.home-main section.about h2{
    margin-top: 2em;
    margin-left: 2em;
    height: 0px;
    width: 100%;
}

main.home-main section.about .about-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-size: 20px;
}

main.home-main section.about hr{
    border-top: 3px solid #fde68a;
    position: relative;
    bottom: 12px;
    left: 120px; 
    width: 30%;
    
    
}



main.home-main .about img{
    width: 360px;
    height: 360px;
    border-radius: 999px;
    box-shadow: 0px 0px 73px -9px rgba(255, 219, 112, 0.44);
    border: solid #ffdb68;
    
}

main.home-main section .about-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 750px;
}

main.home-main section .about-right p{
    margin: 1em 0;
    line-height: 28px;
}


/* Fin Main--------------------- */

/* Section --------------------- */
.skills-section{
    display: flex;
    flex-direction: column;
    background-color: #1F1F1F;
    width: 100%;
    margin: 2em 0;
}

.skills-section hr{
    border: none;
    border-top: 4px solid #fde68a;
    position: relative;
    top: .7rem;
    width: 12%;
}

.skills-section .skills-btn{
    display: flex;
    margin-left: 20vh;
    margin-top: 10vh;
}

.skills-section .skills-btn button{
    border:none;
    border-radius: 10px;
    padding: 20px 15px;
    text-decoration: none;
    margin-left: 2em;
    background-color:transparent;
}

.skills-section .skills-btn #btn-technologies{
    background-color: #2a281e;
}
.skills-section .skills-btn #h3-technologies{
  text-align: center;
  color: #fde68a;
  opacity: 1;
}

.skills-section .skills-btn button:hover h3{
    opacity: 1 !important;
    color: white !important;
}
.skills-section .skills-btn h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    height: 10px;
    color: white;
    opacity: 0.4;
}

.skills-section section.skills-list{
    display: grid;
    margin: 0 5em;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 3em;
}
.skills-section section article{
    display: flex;
    flex-wrap: wrap;
    box-shadow: 2px 4px 12px #050505;
    border-radius: 10px;
    border: solid #fde68a;
    height: 100px ;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 3em;
    margin-top: 3em;
}

.skills-section section article.outils{
    display: none;
}
.skills-section article h3{
    height: 10px;
    color: white;
}

.skills-section p{
    color: #1F1F1F;
    height: 10px;
    margin-top: 1px;
    font-size: 1px;
}
.skills-section article img{
    width: 60px;
    height: 60px;
    transition: 0.5s;
}

.skills-section article:hover img{
    transform: scale(1.2);
}

.skills-section article h3{
    transition: transform 0.5s;
}
.skills-section article:hover h3{
    transform: translateY(-20px);   
}

.skills-section article p{
    transition: 0.5s;
}
.skills-section article:hover p{
    color: #ffdb68;
    font-size: 16px;
}



/* Fin Section --------------------- */
/* Margin left center HR H2 */
.margin-center{
    display: flex;
    margin-left: 10em;
    margin-top: 2em;
}
.margin-center hr{
    margin-right: 1em;
}

/* Section projets */
.project-section{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.project-section hr{
    border: none;
    border-top: 4px solid #fde68a;
    position: relative;
    top: .7rem;
    width: 12%;

}
.project-section .project-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin: 3em 2em;
}
.project-section .project-list .project-article{
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.project-section .project-list .project-article img{
    width: 330px;
    height: 190px;
    border-radius: 10px;
}
.project-section .project-list .project-article h2{
    margin: 1em 0;
    font-weight: bold;
}

.project-section .project-list .project-article p{
    width: 90%;
    color: #818181;
}
.project-section .project-list .project-article .project-article-text{
    margin-left: 1em;
}
/* Footer --------------------- */
footer{
    display: flex;
    background-color: chartreuse;
    width: 100%;
}

/* Fin Footer --------------------- */

/* ------------------------------------------------------ */
/* Page Contact -------------------------- */
/* ------------------------------------------------------ */
.contact-main{
    display: flex;
}
nav#nav-contact{
    display: flex;
    flex-direction: column;
    margin-left: 20em;
    margin-top: 8em;
    height: 95vh;
    
}

nav#nav-contact h2{
    font-size: 48px;
    margin-bottom: 2em;
}

nav#nav-contact hr{
    position: relative;
    border: none;
    border-top: 4px solid #fde68a;
    top:14px;
    width: 27%;
    
}


nav#nav-contact p{
    position: relative;
    left: calc(25% + 25px);
    margin-bottom: 2em;
    font-size: 24px;
}
nav#nav-contact .form-group{
    line-height: 80px;
}
nav#nav-contact .starter-template form input{
    border-radius: 10px;
    width: 400px;
    height: 2em;

    outline: none;
    padding: 0 10px;
    line-height: 80px;
    font-size: 1.2em;
    border: 2px solid #f0ffff;
    background: transparent;
    transition: 0.5s ease;
    color:white;
    z-index: 1111;
}

nav#nav-contact label{
    color: white;
}
nav#nav-contact .footer-contact{
    display: flex;
}

nav#nav-contact textarea{
    margin-top: 1em;
    padding: 10px 12px 0px 5px;
    font-size: 'Poppins', sans-serif;
    

}

nav#nav-contact #input-message{
    width: 480px;
    font-size: 1.2em;
    height: 400px;
    background: transparent;
    border: 2px solid #f0ffff;
    border-radius: 10px;
    color: white;
}

nav#nav-contact #contact-message label{
    position: absolute;
    top:0;
    left: 12px;
    

}

nav#nav-contact input::placeholder{
    color: white;
    padding: 3px 3px;
    font-family: 'Poppins';
}
nav#nav-contact #contact-message textarea::placeholder{
    color: white;
    padding: 3px 3px;
    font-family: 'Poppins';
}

/* Footer contact ------------- */
nav#nav-contact .footer-contact{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
nav#nav-contact .reseaux{
margin-top: 1em;
}
nav#nav-contact img{
    height: 3em;
}

nav#nav-contact .autres-images{
    margin-left: 1em;
}

/* ---------------------------------- */

/* CSS */
nav#nav-contact button {
    align-items: center;
    background-clip: padding-box;
    background-color: #fa6400;
    border: 1px solid transparent;
    border-radius: 14px;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

nav#nav-contact button:hover,
nav#nav-contact button:focus {
    background-color: #fb8332;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

nav#nav-contact button:hover {
    transform: translateY(-1px);
}

nav#nav-contact button:active {
    background-color: #c85000;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
}
